* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
html,
body {
  min-height: 100%;
  margin: 0;
  color: #fff;
  font-weight: 200;
  font-feature-settings: 'kern' 0;
  font-family: 'FoundersMono', Courier, monospace;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  html,
  body {
    font-weight: 100;
  }
}
body {
  font-size: 1rem;
  line-height: 1.3;
  background-color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
img {
  display: block;
  width: 100%;
}
figure,
figcaption,
blockquote {
  padding: 0;
  margin: 0;
}
cite {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
  font-weight: inherit;
}
h1,
h2 {
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
h1 {
  font-size: 2.143rem;
  line-height: 1.3;
}
h2 {
  font-size: 1.571rem;
  line-height: 1.3;
}
a,
date {
  font-size: inherit;
}
p {
  line-height: inherit;
  font-size: inherit;
}
date {
  font-weight: 200;
  font-feature-settings: 'kern' 0;
  font-family: 'FoundersMono', Courier, monospace;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  date {
    font-weight: 100;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
input {
  -webkit-appearance: none;
  border: 1px solid #fff;
  border-radius: 0;
}
.o-site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}
.o-site-content {
  background-color: #000;
  flex: 1;
  transition: transform 0.2s ease-out;
}
.o-wrapper {
  margin: 0 auto;
  max-width: 108.571rem;
  padding-left: 4.286rem;
  padding-right: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .o-wrapper {
    padding-right: 1.0715rem;
    padding-left: 1.0715rem;
  }
}
.o-wrapper--fullwidth {
  width: 100%;
}
.o-wrapper--small {
  margin: 0 auto;
  margin-bottom: 4.286rem;
  max-width: 42.86rem;
}
@media only screen and (max-width: 50em) {
  .o-wrapper--small {
    padding-left: 1.0715rem;
    padding-right: 1.0715rem;
    width: 100%;
  }
}
.o-btn {
  width: 100%;
  padding: 0.5rem;
  padding-top: 0.6rem;
  vertical-align: text-bottom;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-size: inherit;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
.o-btn[disabled] {
  background-color: #6c6c6c;
  color: black;
  cursor: default;
}
.o-btn--large {
  padding: 1rem;
  width: 8.5rem;
  margin-right: 0.75rem;
}
@media only screen and (max-width: 50em) {
  .o-btn {
    font-size: 0.857rem;
    line-height: 1.3;
    padding: 0.25rem;
    padding-top: 0.4rem;
  }
}
.o-btn--ra {
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-btn--ra svg {
  max-width: 1.5rem;
  margin-right: 0.25rem;
  height: auto;
  width: 30px;
}
.o-btn--ra-large svg {
  max-width: 1.75rem;
  height: auto;
  margin-right: 0.25rem;
}
.o-icon svg {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
}
.o-icon a {
  display: inline-block;
  vertical-align: middle;
}
.o-link--category,
.o-link--generic,
.o-markup a,
.c-home__teasers-link {
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .o-link--category,
  .o-link--generic,
  .o-markup a,
  .c-home__teasers-link {
    display: inline;
    vertical-align: middle;
  }
}
.o-link--underline {
  text-decoration: underline;
}
.o-link--disabled {
  pointer-events: none;
  color: #6c6c6c;
}
.o-link--disabled path {
  fill: #6c6c6c;
}
.o-link--generic,
.o-markup a,
.c-home__teasers-link {
  color: #6c6c6c;
}
.o-link--inline {
  display: inline;
}
.o-link--medium {
  font-size: 1.571rem;
  line-height: 1.3;
}
.o-link--break-lines {
  display: block;
}
.o-link--center {
  text-align: center;
  width: 100%;
}
.o-link--load-more {
  display: block;
  width: 100%;
}
.o-select {
  position: relative;
  display: flex;
  height: 3em;
  border: 1px solid #fff;
  align-items: center;
  justify-content: flex-end;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
  width: 19.287rem;
}
.o-select__dropdown {
  width: 100%;
}
.o-select select {
  outline: none;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 0;
  font-weight: 200;
  font-feature-settings: 'kern' 0;
  font-family: 'FoundersMono', Courier, monospace;
  padding: 1.0715rem;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .o-select select {
    font-weight: 100;
  }
}
.o-select__text {
  text-align: center;
  width: 100%;
  padding-right: 3em;
  padding-left: 3em;
}
.o-select__arrow {
  min-width: 3em;
  height: 100%;
  line-height: 3em;
  text-align: center;
  border-left: 1px solid #fff;
}
.o-select__arrow--left {
  transform: rotate(180deg);
}
.o-select__arrow--down {
  transform: rotate(90deg);
}
.o-select__arrow svg {
  height: 100%;
}
.o-select__arrow a {
  width: 100%;
  height: 100%;
  display: block;
}
.o-select__arrow:hover {
  background-color: #373737;
}
.o-font-seasonal--druk-cond {
  font-family: 'DrukCond', Helvetica, Arial, Verdana, sans-serif;
  font-size: 6rem !important;
  line-height: 5rem !important;
}
.o-font-seasonal--druk-wide {
  font-family: 'DrukWide', Helvetica, Arial, Verdana, sans-serif;
}
.o-font-seasonal--fraktur {
  font-family: 'Fraktur', Helvetica, Arial, Verdana, sans-serif;
  font-size: 6rem !important;
  line-height: 6.5rem !important;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 50em) {
  .o-font-seasonal--fraktur {
    font-size: 4rem !important;
    line-height: 4.35rem !important;
    margin-bottom: 1.25rem;
    margin-top: 0.75rem;
  }
}
.o-markup h2 {
  padding-top: 2.143rem;
}
.o-markup h2,
.o-markup p {
  margin-bottom: 2.143rem;
}
.o-markup a {
  text-decoration: underline;
}
.o-markup #map {
  width: 100%;
  position: relative;
  margin-bottom: 2.143rem;
}
.o-markup #map:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 66.66667%;
}
.o-markup #map > img,
.o-markup #map canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.o-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.o-grid__cell {
  align-self: flex-start;
  flex: 1;
}
@media only screen and (max-width: 50em) {
  .o-grid__cell {
    flex: 1 0 100%;
  }
}
.o-grid--gutters {
  margin: 0 -2.143rem 0 -2.143rem;
}
@media only screen and (max-width: 50em) {
  .o-grid--gutters {
    margin: 0;
  }
}
.o-grid--gutters .o-grid__cell {
  padding-left: 2.143rem;
  padding-right: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .o-grid--gutters .o-grid__cell {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 50em) {
  .o-grid--strict .o-grid__cell {
    flex: 0 0 50%;
  }
}
.o-type--small {
  font-size: 1rem;
  line-height: 1.3;
}
.o-type--medium {
  font-size: 1.571rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .o-type--medium {
    font-size: 1rem;
    line-height: 1.3;
  }
}
.o-type--large {
  font-size: 2.143rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .o-type--large {
    font-size: 1.571rem;
    line-height: 1.3;
  }
}
.o-type--xlarge {
  font-size: 3.571rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .o-type--xlarge {
    font-size: 2.143rem;
    line-height: 1.3;
  }
}
.o-type--xxlarge {
  font-size: 5rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .o-type--xxlarge {
    font-size: 3.571rem;
    line-height: 1.3;
  }
}
.c-banner {
  width: 100%;
  position: relative;
  z-index: 0;
  margin-bottom: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-banner {
    margin-bottom: 2.143rem;
  }
}
.c-banner__text {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (min-width: 75em) {
  .c-banner__text {
    width: 30%;
  }
}
@media only screen and (max-width: 50em) {
  .c-banner__text {
    transform: translateY(0%);
    top: unset;
    bottom: 2.143rem;
    font-size: 1rem;
    line-height: 1.3;
  }
}
.c-banner__text--large {
  font-size: 3.571rem;
  line-height: 1.3;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 20%;
  left: 0;
  max-width: 50%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 50em) {
  .c-banner__text--large {
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.3;
  }
}
.c-home__teasers-title {
  width: 100%;
  margin-bottom: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .c-home__teasers-title {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 1.0715rem;
  }
}
.c-home__teasers {
  flex-wrap: wrap;
  align-items: flex-start;
}
.c-home__teasers--music:first-child,
.c-home__teasers--cultural:first-child {
  margin-bottom: 4.286rem;
}
.c-home__teasers--music {
  padding-right: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-home__teasers--music {
    padding-right: 0;
  }
}
.c-home__teasers--cultural {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.42867rem;
  margin-right: -1.42867rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.c-home__teasers--cultural .c-home__teasers-title {
  padding-left: 1.0715rem;
  padding-right: 1.0715rem;
}
@media only screen and (max-width: 50em) {
  .c-home__teasers--cultural {
    padding-left: 1.0715rem !important;
    padding-right: 1.0715rem !important;
  }
}
.c-home__teasers-link {
  width: 100%;
  text-align: center;
  margin-bottom: 17.144rem;
  font-size: 1.571rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .c-home__teasers-link {
    margin-bottom: 8.572rem;
    font-size: 0.857rem;
    line-height: 1.3;
  }
}
.c-artist-teaser {
  font-size: 3.571rem;
  line-height: 1.3;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
.c-artist-teaser:hover {
  color: #5ef3f4;
  text-decoration: underline;
  cursor: pointer;
}
.c-artist-teaser:after {
  content: ',';
}
.c-artist-teaser:last-child:after {
  content: '';
}
@media only screen and (max-width: 50em) {
  .c-artist-teaser {
    font-size: 1.571rem;
    line-height: 1.3;
  }
}
.c-cal {
  width: 100%;
}
@media only screen and (min-width: 75em) {
  .c-cal {
    width: 75%;
  }
}
.c-cal__day-title {
  margin-bottom: 2.143rem;
}
.c-cal__day {
  margin-bottom: 6rem;
}
@media only screen and (max-width: 50em) {
  .c-cal__day {
    margin-bottom: 0;
  }
}
.c-related-events {
  margin-top: 2.143rem;
}
.c-related-events__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.0715rem;
}
@media only screen and (max-width: 50em) {
  .c-related-events__wrapper {
    width: 100%;
  }
}
.c-related-events__title {
  width: 100%;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
.c-related-events__info {
  flex: 1;
  margin-left: 1.0715rem;
}
.c-related-events__image {
  width: 7.5%;
}
@media only screen and (max-width: 50em) {
  .c-related-events__image {
    width: 15%;
  }
}
.c-embed-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4.286rem;
}
.c-embed {
  flex: 0 0 50%;
  margin-bottom: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-embed {
    flex: 0 0 100%;
  }
}
.c-embed__title {
  padding: 2.143rem;
  width: 100%;
}
@media only screen and (max-width: 50em) {
  .c-embed__title {
    padding: 2.143rem 0;
  }
}
.c-embed iframe,
.c-embed img {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0;
  margin: 0;
}
.c-embed figcaption {
  margin-top: 1.0715rem;
}
.c-embed figcaption a {
  color: #6c6c6c;
  display: inline;
  text-decoration: underline;
  font-size: inherit;
}
.c-art-teaser-heading {
  text-align: center;
}
.c-art-teaser-heading__intro {
  margin: 0 auto;
}
@media only screen and (max-width: 50em) {
  .c-art-teaser-heading {
    padding: 4.286rem;
  }
}
.c-art-teaser-index {
  width: 100%;
}
.c-art-item {
  align-items: flex-start;
  margin-bottom: 4.286rem;
}
.c-art-item__title {
  margin: 0 0 2.143rem 0;
}
@media only screen and (max-width: 50em) {
  .c-art-item__title {
    margin-top: 2.143rem;
    margin-bottom: 2.143rem;
  }
}
.c-art-item__intro {
  width: 50%;
}
@media only screen and (max-width: 50em) {
  .c-art-item__intro {
    width: 100%;
  }
}
.c-art-item__date {
  max-width: 15%;
  margin-bottom: 1.0715rem;
}
@media only screen and (max-width: 50em) {
  .c-art-item__date {
    max-width: 100%;
  }
}
.c-art-item__image {
  width: 20%;
}
@media only screen and (max-width: 50em) {
  .c-art-item__image {
    width: 100%;
  }
}
.c-art-item--small .c-art-item__date {
  margin-bottom: 1.0715rem;
}
.c-art-item--small .c-art-item__image {
  margin: 0;
}
.c-art-teaser {
  display: none;
  width: 20%;
  margin-left: 4.286rem;
}
.c-art-teaser__item {
  display: flex;
  margin-bottom: 2.143rem;
}
.c-art-teaser__image {
  width: 25%;
  margin-right: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
}
@media only screen and (min-width: 75em) {
  .c-art-teaser {
    display: block;
  }
}
.c-search__query-title {
  font-weight: 200;
  font-feature-settings: 'kern' 0;
  font-family: 'FoundersMono', Courier, monospace;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .c-search__query-title {
    font-weight: 100;
  }
}
.c-search__query-title--sub {
  color: #6c6c6c;
}
.c-search__query-title--space {
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
.c-search__result-title,
.c-search__section,
.c-search__view-more,
.c-search__query-title {
  margin-bottom: 2.143rem;
}
.c-search__result-title {
  margin-top: 2.143rem;
}
.c-search__section {
  width: 100%;
}
.c-event-teaser {
  flex: 0 0 50%;
  padding-left: 1.0715rem;
  padding-right: 1.0715rem;
  margin-bottom: 2.85733rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .c-event-teaser {
    margin-bottom: 2.143rem;
  }
}
.c-event-teaser__image {
  background-color: #fff;
  transition: 0.2s opacity ease-in;
}
.c-event-teaser__title {
  font-size: 1.286rem;
  line-height: 1.3;
  padding: 0 1.0715rem;
}
.c-event-teaser__body {
  position: absolute;
  display: flex;
  padding-left: 1.42867rem;
  padding-right: 1.42867rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.2s opacity ease-in;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
.c-event-teaser__body > * {
  width: 100%;
}
.c-event-teaser:hover .c-event-teaser__body {
  opacity: 1;
}
.c-event-teaser:hover .c-event-teaser__image {
  opacity: 0.5;
}
.c-event-listing {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 3.143rem;
}
.c-event-listing__info,
.c-event-listing__detail,
.c-art-item--small .c-art-item__info {
  padding-right: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .c-event-listing__time {
    display: inline;
    margin-right: 1.25rem;
  }
}
.c-event-listing__detail,
.c-art-item--small .c-art-item__info {
  width: 60%;
}
@media only screen and (max-width: 50em) {
  .c-event-listing__detail,
  .c-art-item--small .c-art-item__info {
    width: 50%;
    padding-right: 0;
  }
}
.c-event-listing__tickets {
  width: 15%;
  margin-left: auto;
}
@media only screen and (max-width: 50em) {
  .c-event-listing__tickets {
    width: 6rem;
    padding-right: 0;
  }
}
.c-event-listing__info {
  width: 15%;
}
@media only screen and (max-width: 50em) {
  .c-event-listing__info {
    width: 100%;
    margin-bottom: 1.071rem;
    margin-right: 0;
    padding-right: 0;
  }
}
.c-event-listing__space {
  display: block;
}
.c-event-listing__meta-icon {
  display: block;
}
@media only screen and (max-width: 50em) {
  .c-event-listing__meta-icon {
    display: inline-block;
  }
}
.c-event-listing__image,
.c-art-item--small .c-art-item__image {
  margin-right: 2.143rem;
  width: 12.858rem;
}
@media only screen and (max-width: 50em) {
  .c-event-listing__image,
  .c-art-item--small .c-art-item__image {
    width: 4.286rem;
    margin-right: 1.0715rem;
  }
}
.c-event-listing__ticket-price {
  margin: 1rem 0 1em 0;
  text-align: center;
}
@media only screen and (max-width: 50em) {
  .c-event-listing__ticket-price {
    margin: 0.5rem 0 1rem 0;
  }
}
.c-event-listing__ticket-price--sold-out {
  color: #6c6c6c;
}
@media only screen and (max-width: 50em) {
  .c-event-listing {
    flex-wrap: wrap;
  }
}
.c-event-listing--featured .c-event-listing__title {
  font-size: 2.143rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .c-event-listing--featured .c-event-listing__title {
    font-size: 1.571rem;
    line-height: 1.3;
  }
}
@media only screen and (min-width: 75em) {
  .c-event-listing--featured .c-event-listing__detail,
  .c-event-listing--featured .c-art-item--small .c-art-item__info,
  .c-art-item--small .c-event-listing--featured .c-art-item__info {
    width: 41.66667vw;
    max-width: 41.66667rem;
  }
}
@media only screen and (min-width: 75em) {
  .c-event-listing--featured .c-event-listing__image,
  .c-event-listing--featured .c-art-item--small .c-art-item__image,
  .c-art-item--small .c-event-listing--featured .c-art-item__image {
    width: 17.144rem;
  }
}
.c-event__introduction {
  max-width: 50%;
}
.c-event__image {
  margin-left: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .c-event__image {
    order: -1;
    margin-left: 0;
    margin-bottom: 2.143rem;
  }
}
.c-event__info {
  margin-right: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .c-event__info {
    margin-right: 0;
  }
}
.c-event__description h3,
.c-event__description p {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.c-event__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .c-event__buttons {
    flex-wrap: wrap;
  }
}
.c-event__entry {
  margin-top: 1.0715rem;
}
.c-event__entry > .c-event__entry-detail + .c-event__entry-detail::before {
  content: ' / ';
}
.c-event__tickets {
  margin-right: 2.143rem;
}
.c-event__time {
  margin-bottom: 1.0715rem;
}
.c-event__date {
  margin-top: 2.143rem;
}
.c-share {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.c-share__link {
  width: 1.429rem;
  margin-right: 0.714rem;
  margin-left: 0.714rem;
}
.c-share__title,
.c-share__link {
  line-height: 0;
  vertical-align: middle;
}
.c-share__icon {
  max-width: 100%;
}
.o-btn + .c-share {
  margin-left: 1rem;
}
.c-stories-index {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 8.572rem;
}
.c-story-teaser {
  position: relative;
  margin: auto;
  flex: 0 0 50%;
  margin-bottom: 12.858rem;
}
@media only screen and (min-width: 75em) {
  .c-story-teaser {
    flex: 0 0 33.3%;
  }
}
@media only screen and (max-width: 50em) {
  .c-story-teaser {
    flex: 0 0 100%;
    margin-bottom: 4.286rem;
  }
}
.c-story-teaser__image-wrapper {
  max-width: 75%;
  margin: auto;
}
.c-story-teaser__text {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  top: -21%;
}
@media only screen and (max-width: 50em) {
  .c-story-teaser__text {
    top: 95%;
  }
}
@media only screen and (min-width: 75em) {
  .c-story-teaser:nth-child(2n + 1) .c-story-teaser__text {
    top: 94%;
  }
}
.c-story-teaser--alt {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.143rem;
}
.c-story-teaser--alt .c-story-teaser__image {
  width: 15%;
  margin-right: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .c-story-teaser--alt .c-story-teaser__image {
    margin-right: 1.0715rem;
    width: 30%;
  }
}
.c-story-teaser--alt .c-story-teaser__text {
  max-width: 25.716rem;
  position: static;
  text-align: left;
}
.c-story {
  flex-wrap: wrap;
}
.c-story__share {
  display: flex;
}
.c-story__share .c-share {
  margin: 0 auto;
}
.c-story__title,
.c-story__info {
  width: 100%;
  text-align: center;
  margin-bottom: 4.286rem;
  margin-top: 4.286rem;
}
.c-story__title {
  font-size: 5rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .c-story__title {
    font-size: 2.143rem;
    line-height: 1.3;
  }
}
.c-story__info > * {
  display: block;
}
.c-story__content {
  margin: 0 auto;
  margin-bottom: 4.286rem;
}
@media only screen and (min-width: 75em) {
  .c-story__content {
    width: 66.66667vw;
    max-width: 66.66667rem;
  }
}
.c-story__block--text {
  margin-bottom: 4.286rem;
}
.c-story__block--text h1 {
  margin-top: 2.143rem;
  margin-bottom: 2.143rem;
}
.c-story__block--text a {
  text-decoration: underline;
  cursor: pointer;
  color: #6c6c6c;
  display: inline;
}
.c-story__block--image {
  width: 100%;
  margin-bottom: 1.0715rem;
}
.c-story__block--media {
  margin-bottom: 4.286rem;
  margin-top: 4.286rem;
}
@media only screen and (min-width: 75em) {
  .c-story__block--media {
    position: relative;
  }
}
.c-story .c-story__block--media figcaption {
  margin-top: 1.0715rem;
}
@media only screen and (min-width: 75em) {
  .c-story .c-story__block--media figcaption {
    position: absolute;
    width: 100%;
    max-width: 40%;
    margin: 0;
    transform: rotate(90deg) translateY(-150%);
    transform-origin: top left;
    right: -45%;
    top: 0;
  }
}
.c-space-teaser {
  margin-top: 4rem;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .c-space-teaser {
    margin: 0;
  }
}
.c-space-teaser__item {
  flex: 0 0 50%;
  position: relative;
  text-align: center;
  margin-bottom: 4.286rem;
}
@media only screen and (min-width: 75em) {
  .c-space-teaser__item {
    flex: 0 0 33%;
  }
}
@media only screen and (max-width: 50em) {
  .c-space-teaser__item {
    margin-bottom: 4.286rem;
    flex: 0 0 100%;
  }
}
.c-space-teaser__image {
  position: relative;
}
.c-space-teaser__title {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
.c-space-teaser__description {
  max-width: 80%;
  margin: auto;
  margin-top: 2.143rem;
  margin-bottom: 2.143rem;
}
.c-spaces-index {
  flex-wrap: wrap;
}
.c-spaces-index__header,
.c-spaces-index__intro {
  text-align: center;
  max-width: 75vw;
  margin: 4.286rem auto;
}
.c-spaces-index__header {
  width: 100%;
  text-align: center;
}
.c-spaces-index__intro {
  width: 100%;
  margin-bottom: 4.286rem;
}
.c-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.143rem 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-nav {
    padding: 1.0715rem;
    display: block;
  }
}
.c-nav__search-input {
  display: none;
  max-width: 200px;
  font-size: inherit;
  line-height: 1.425rem;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: 0 1px 0 0;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
@media only screen and (max-width: 50em) {
  .c-nav__search-input {
    margin: 0 auto;
  }
}
.c-nav__link--search {
  cursor: pointer;
}
.c-nav--fix {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}
.c-nav__brand {
  width: 10%;
}
@media only screen and (max-width: 50em) {
  .c-nav__brand {
    width: 3.928571429rem;
  }
}
.c-nav__logo {
  width: 3.571rem;
  height: 3.571rem;
}
.c-nav__items {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
}
@media only screen and (max-width: 50em) {
  .c-nav__items {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    padding: 1em;
    margin: 0;
    overflow: hidden;
    text-align: center;
    background-color: #000;
    transform: translateY(-100%);
  }
}
.c-nav__link {
  margin-left: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-nav__link {
    margin: 0;
    margin-bottom: 1em;
  }
}
.c-nav__open-button {
  position: absolute;
  top: 2rem;
  right: 1.0715rem;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .c-nav__open-button {
    display: block;
  }
}
.c-nav__open-button__icon {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: #fff;
}
.c-nav__open-button--dark .c-nav__open-button__icon {
  background-color: #000;
}
.c-footer {
  width: 100%;
  padding-bottom: 4.286rem;
  padding-top: 8.572rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-footer__logo,
.c-footer__title {
  margin-top: 0;
  margin-bottom: 1.0715rem;
}
.c-footer__sub {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 0.5;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
}
.c-footer__sub .footer-icon {
  display: inline-block;
  margin-right: 10px;
}
.c-footer__sub a {
  display: block;
  text-decoration: underline;
}
.c-footer__sub:nth-child(1) {
  flex-grow: 1;
  margin-right: 10%;
  max-width: 30%;
}
@media only screen and (min-width: 100em) {
  .c-footer__sub:nth-child(1) {
    margin-right: 30%;
  }
}
@media only screen and (max-width: 50em) {
  .c-footer__sub:nth-child(1) {
    max-width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 50em) {
  .c-footer__sub {
    margin-bottom: 2.143rem;
    margin-top: 2.143rem;
    flex: unset;
    width: 100%;
  }
}
.c-footer__content {
  width: 100%;
  align-self: flex-start;
}
.c-footer__title {
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 0rem;
  margin-bottom: 1.0715rem;
}
.c-footer__subscribe {
  margin-top: 2.143rem;
}
.c-footer__logo {
  width: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-footer__logo {
    margin: 0;
    margin-bottom: 0.714rem;
  }
}
.c-footer__meta {
  width: 100%;
  display: flex;
  align-items: flex-end;
  min-height: 50px;
  justify-content: space-between;
  margin-bottom: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-footer__meta {
    flex-wrap: wrap;
  }
}
.c-footer__copyright {
  font-size: 0.857rem;
  line-height: 1.3;
  color: #6c6c6c;
}
@media only screen and (max-width: 50em) {
  .c-footer__copyright {
    width: 100%;
  }
}
.c-footer__credits {
  font-size: 0.857rem;
  line-height: 1.3;
}
.c-footer__form {
  height: 40px;
  position: relative;
}
.c-footer__form input[type='email'],
.c-footer__form input[type='submit'] {
  position: absolute;
  height: 100%;
  padding: 1em;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.3;
}
.c-footer__form input[type='email'] {
  color: #6c6c6c;
  font-family: 'FoundersMono', Courier, monospace;
  left: 0;
  width: 85%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
}
.c-footer__form input[type='email']:focus {
  color: #fff;
  outline: none;
}
.c-footer__form input[type='email']::-webkit-input-placeholder {
  color: #fff;
}
.c-footer__form input[type='email']::-moz-input-placeholder {
  color: #fff;
}
.c-footer__form input[type='email']:-ms-input-placeholder {
  color: #fff;
}
.c-footer__form input[type='submit'] {
  right: 0;
  width: 15%;
  line-height: 0.75rem;
  padding: 0.9rem;
  background-color: white;
}
.c-footer__form input[type='submit']:focus {
  outline: none;
}
.c-subnav {
  padding-top: 2.143rem;
  padding-bottom: 2.143rem;
  align-items: center;
}
.c-subnav__link {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  display: inline-block;
}
.c-subnav__link:first-child {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.c-subnav__link--active {
  padding-top: 0.25rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  color: #000;
  background-color: #fff;
  border-radius: 2rem;
  display: inline-block;
}
.c-subnav--small {
  display: none;
}
.c-subnav .o-select {
  margin-bottom: 2.143rem;
  margin-right: 2.143rem;
  max-width: 21.429rem;
}
@media only screen and (max-width: 50em) {
  .c-subnav .o-select {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.0715rem;
  }
}
.c-categories-nav {
  margin-bottom: 2.143rem;
}
@media only screen and (max-width: 50em) {
  .c-categories-nav {
    display: none;
  }
}
.c-categories-nav--small {
  display: none;
}
@media only screen and (max-width: 50em) {
  .c-categories-nav--small {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 1.0715rem;
  }
  .c-categories-nav--small .o-select__arrow {
    position: absolute;
    right: 0;
    pointer-events: none;
  }
}
.c-manifesto-wrapper {
  max-width: 50rem;
  padding: 4rem 3rem 0;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  text-align: center;
  color: #000;
}
.c-manifesto-wrapper h1,
.c-manifesto-wrapper h2,
.c-manifesto-wrapper h3,
.c-manifesto-wrapper p {
  margin-bottom: 2.143rem;
}
.c-manifesto-wrapper h2 {
  padding-top: 4rem;
}
.c-manifesto-wrapper h2 {
  font-size: 3.571rem;
  line-height: 1.3;
}
.c-manifesto-wrapper p,
.c-manifesto-wrapper a {
  font-size: 1.571rem;
  line-height: 1.3;
}
.c-manifesto-wrapper a {
  text-decoration: underline;
}
.c-manifesto-wrapper .c-nav__logo {
  width: 9rem;
}
.c-manifesto-header-image {
  height: 47rem;
  opacity: 0.6;
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
header.c-manifesto-wrapper {
  margin-top: 2rem;
}
header.c-manifesto-wrapper,
footer.c-manifesto-wrapper {
  text-align: center;
}
.c-manifesto-heading {
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 1.3;
}
footer {
  margin-top: 6rem;
}
.featured-images {
  padding-top: 2.143rem;
  text-align: center;
}
.featured-images img {
  width: 25%;
  max-width: 320px;
  display: inline-block;
}
.newsletter {
  margin-bottom: 2.143rem;
}
.newsletter input {
  font-family: 'FoundersMono', Courier, monospace;
  font-size: 1rem;
  line-height: 1.3;
}
.social-icon-container {
  text-align: center;
  margin-top: 4.286rem;
}
.social-icon-container a {
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.social-icon {
  width: 40px;
  height: 40px;
}
.social-icon + .social-icon {
  margin-left: 16px;
}
.email-link {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.newsletter {
  width: 100%;
}
.newsletter input {
  float: left;
  height: 3rem;
}
.newsletter input[type='email'] {
  width: 70%;
  padding: 1em;
  background: transparent;
  border: 1px solid #000;
  color: #000;
  outline: none;
}
.newsletter input[type='submit'] {
  width: 28%;
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
.newsletter::after {
  display: table;
  clear: both;
  content: '';
}
.newsletter ::-webkit-input-placeholder {
  color: #000;
}
.newsletter :-moz-placeholder {
  color: #000;
}
.newsletter ::-moz-placeholder {
  color: #000;
}
.newsletter :-ms-input-placeholder {
  color: #000;
}
.c-tag__title {
  width: 80%;
}
.c-tag__description {
  width: 80%;
  margin-bottom: 4.286rem;
  padding-right: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-tag__description {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}
.c-tag__image {
  width: 20%;
}
@media only screen and (max-width: 50em) {
  .c-tag__image {
    width: 100%;
    max-width: 100%;
    margin-bottom: 4.286rem;
  }
}
.c-message {
  text-align: center;
  max-width: 75rem;
  margin: 0 auto;
  width: 100%;
  padding-left: 1.19063rem;
  padding-right: 1.19063rem;
  margin-top: 4.286rem;
  margin-bottom: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-message {
    margin-top: 2.143rem;
    margin-bottom: 2.143rem;
  }
}
.c-message h1 {
  margin-bottom: 4.286rem;
  font-size: 3.571rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .c-message h1 {
    font-size: 1.571rem;
    line-height: 1.3;
  }
}
.c-message p {
  max-width: 60rem;
  text-align: center;
  margin: auto;
  font-size: 1.571rem;
  line-height: 1.3;
  margin-bottom: 4.286rem;
}
@media only screen and (max-width: 50em) {
  .c-message p {
    font-size: 0.857rem;
    line-height: 1.3;
  }
}
.c-message a {
  font-size: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: #6c6c6c;
  display: inline;
}
.c-message--fullscreen {
  display: flex;
  height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.c-message--set-width {
  max-width: 700px;
}
.c-message--large {
  margin-bottom: 15rem;
  margin-top: 10rem;
}
.c-message--large a,
.c-message--large p {
  margin-bottom: 4.286rem;
  font-size: 2.143rem;
  line-height: 1.3;
}
@media only screen and (max-width: 50em) {
  .c-message--large a,
  .c-message--large p {
    font-size: 1.571rem;
    line-height: 1.3;
  }
}
.c-headline {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 4.286rem;
}
.c-headline--centered {
  text-align: center;
}
.c-accordion__wrapper {
  width: 100%;
}
.c-accordion__item {
  border-top: 2px solid #393939;
  overflow: hidden;
  height: 4rem;
  cursor: pointer;
  position: relative;
  padding-top: 1.0715rem;
  padding-bottom: 1.0715rem;
}
.c-accordion__item:after {
  content: '▼';
  display: block;
  position: absolute;
  right: 0;
  top: 1.1rem;
}
.c-accordion__item--open {
  height: auto;
}
.c-accordion__item:last-child {
  border-bottom: 2px solid #393939;
}
.c-accordion__heading {
  margin-bottom: 1.0715rem;
}
.c-accordion__heading h2 {
  line-height: 1.5;
}
@media only screen and (max-width: 50em) {
  .c-accordion__heading {
    width: 95%;
  }
}
.c-accordion__copy {
  max-width: 50%;
}
@media only screen and (max-width: 50em) {
  .c-accordion__copy {
    max-width: 100%;
  }
}
.c-image {
  background-color: #1d1d1d;
  overflow: hidden;
}
.c-image--landscape {
  position: relative;
}
.c-image--landscape:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 66.66667%;
}
.c-image--landscape > img,
.c-image--landscape canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.c-image--wide {
  position: relative;
}
.c-image--wide:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 56.25%;
}
.c-image--wide > img,
.c-image--wide canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.c-image--portrait {
  position: relative;
}
.c-image--portrait:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 150%;
}
.c-image--portrait > img,
.c-image--portrait canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.c-image--square {
  position: relative;
}
.c-image--square:before {
  display: block;
  content: '';
  width: 100%;
  padding-top: 100%;
}
.c-image--square > img,
.c-image--square canvas {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.c-block--text {
  margin-bottom: 4.286rem;
}
.c-block--quote {
  width: 100%;
  font-feature-settings: 'kern' 1;
  font-family: 'AtlasGrotesk', Helvetica, Arial, Verdana, sans-serif;
  margin-bottom: 1.0715rem;
}
.c-block--image {
  width: 100%;
}
.c-block--media {
  margin-bottom: 4.286rem;
}
.o-dark-theme .o-icon svg,
.o-dark-theme .o-icon path {
  fill: #000;
}
.o-dark-theme .footer-icon path {
  fill: #000;
}
.o-dark-theme .o-link--category,
.o-dark-theme .o-link--generic,
.o-dark-theme .o-markup a,
.o-markup .o-dark-theme a,
.o-dark-theme .c-home__teasers-link {
  color: #000 !important;
}
.o-dark-theme input[type='email'] {
  border: 1px solid #000;
  color: #fff;
}
.o-dark-theme input[type='email']::-webkit-input-placeholder {
  color: #000;
}
.o-dark-theme input[type='email']::-moz-input-placeholder {
  color: #000;
}
.o-dark-theme input[type='email']:-ms-input-placeholder {
  color: #000;
}
.o-dark-theme input[type='submit'] {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
}
.o-dark-theme .c-footer__copyright {
  color: #000;
}
.u-space-mb--1 {
  margin-bottom: 1.0715rem;
}
.u-space-mb--2 {
  margin-bottom: 1.42867rem;
}
.u-space-mb--3 {
  margin-bottom: 2.143rem;
}
.u-space-mb--4 {
  margin-bottom: 4.286rem;
}
.u-space-mb--5 {
  margin-bottom: 8.572rem;
}
.u-space-mt--1 {
  margin-top: 1.0715rem;
}
.u-space-mt--2 {
  margin-top: 1.42867rem;
}
.u-space-mt--3 {
  margin-top: 2.143rem;
}
.u-flex {
  display: flex;
}
